# System Configuration
SECRET_KEY=your-secret-key
JWT_SECRET_KEY=your-jwt-secret-key
FLASK_APP=run.py
FLASK_CONFIG=production

# Database Configuration
DATABASE_URL=postgresql://postgres:password@db:5432/twinsentry
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=twinsentry

# Default Account
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASS=admin@123
